#!/bin/sh

# install asdf
if [ ! -d "{{ .chezmoi.homeDir }}/.asdf" ]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.9.0
fi

# install rtx
if [ ! "{{ .chezmoi.homeDir }}/.local/share/rtx/bin/rtx" ]; then
  gpg --keyserver hkps://keyserver.ubuntu.com --recv-keys 0x29DDE9E0
  curl https://rtx.pub/install.sh.sig | gpg --decrypt > /tmp/install-rtx.sh
  # ensure the above is signed with the rtx release key
  sh /tmp/install-rtx.sh
fi

# neovim
asdf plugin add neovim
asdf install neovim 0.9.0

# python
asdf plugin add python
asdf install python 3.7.10
asdf install python 3.8.8
asdf install python 3.9.9
asdf install python 3.10.11

asdf plugin-add poetry https://github.com/asdf-community/asdf-poetry.git
asdf install poetry 1.1.12
asdf install poetry 1.4.0
asdf install poetry 1.4.2

asdf plugin add java

asdf plugin add golang

asdf plugin add nodejs
asdf install nodejs 17.3.0

asdf plugin add erlang
asdf install erlang 24.0.4

asdf plugin add elixir
asdf install elixir 1.12.2-otp-24

asdf plugin add rust
asdf install rust 1.69.0

# utilities
asdf plugin-add terraform
asdf install terraform 1.1.3

asdf plugin add maven
asdf install maven 3.9.1

asdf plugin-add yq

asdf plugin add awscli
asdf plugin add kubectl

# GHC; cuz asdf for haskell sux
if [ ! -d "{{ .chezmoi.homeDir }}/.ghcup" ]; then 
  curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh
fi

if [ ! "$(command -v cs)" ]; then
  #curl -fL https://github.com/VirtusLab/coursier-m1/releases/latest/download/cs-aarch64-apple-darwin.gz | gzip -d > cs
  curl -fL "https://github.com/coursier/launchers/raw/master/cs-x86_64-pc-linux.gz" | gzip -d > cs
  chmod +x cs
  mv cs ~/bin/cs
  ~/bin/cs setup
fi

# OCaml
if [ ! "(command -v opam)" ]; then
  curl -fsSL https://raw.githubusercontent.com/ocaml/opam/master/shell/install.sh | sh
  opam init -y
  opam install dune ocaml-lsp-server odoc ocamlformat utop
fi
