#!/bin/sh

# install mise
if [ ! "(command -v mise)" ]; then
  gpg --keyserver hkps://keyserver.ubuntu.com --recv-keys 0x7413A06D
  curl https://mise.jdx.dev/install.sh.sig | gpg --decrypt > /tmp/install-mise.sh
  # ensure the above is signed with the mise release key
  sh /tmp/install-mise.sh
fi

# GHC; cuz asdf for haskell sux
if [ ! -d "{{ .chezmoi.homeDir }}/.ghcup" ]; then 
  curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh
fi

# coursier for Scala
if [ ! "$(command -v cs)" ]; then
  #curl -fL https://github.com/VirtusLab/coursier-m1/releases/latest/download/cs-aarch64-apple-darwin.gz | gzip -d > cs
  curl -fL "https://github.com/coursier/launchers/raw/master/cs-x86_64-pc-linux.gz" | gzip -d > cs
  chmod +x cs
  mv cs ~/bin/cs
  ~/bin/cs setup
fi

# OCaml
if [ ! "(command -v opam)" ]; then
  curl -fsSL https://raw.githubusercontent.com/ocaml/opam/master/shell/install.sh | sh
  opam init -y
  opam install dune ocaml-lsp-server odoc ocamlformat utop
fi
