#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}

sudo dnf install dnf-plugins-core -y
sudo dnf install https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
sudo dnf config-manager --add-repo https://brave-browser-rpm-release.s3.brave.com/x86_64/ \
  && sudo rpm --import https://brave-browser-rpm-release.s3.brave.com/brave-core.asc

sudo dnf config-manager \
    --add-repo \
    https://download.docker.com/linux/fedora/docker-ce.repo

sudo rpm --import https://downloads.1password.com/linux/keys/1password.asc
sudo sh -c 'echo -e "[1password]\nname=1Password Stable Channel\nbaseurl=https://downloads.1password.com/linux/rpm/stable/\$basearch\nenabled=1\ngpgcheck=1\nrepo_gpgcheck=1\ngpgkey=\"https://downloads.1password.com/linux/keys/1password.asc\"" \
  > /etc/yum.repos.d/1password.repo'

sudo dnf config-manager --set-enabled google-chrome

sudo dnf copr enable eddsalkield/swaylock-effects -y
sudo dnf copr enable @kicad/kicad -y

sudo dnf update -y && sudo dnf install -y \
  util-linux-user \
  zsh \
  fd-find \
  fzf \
  kitty \
  neofetch \
  openssl-devel bzip2-devel libffi-devel zlib-devel readline-devel sqlite\
  lxpolkit \
  pulseaudio-utils \
  acpid.x86_64 \
  libappindicator \
  sway ulauncher wofi mako waybar wlsunset swayidle swaylock-effects light wl-clipboard maim \
  aerc w3m \
  google-chrome-stable \
  brave-browser \
  docker-ce docker-ce-cli containerd.io \
  1password \
  kicad \
  autoconf automake ccache dtc dfu-util g++ gcc libtool ninja-build cmake xz \
  libusb-devel.x86_64 \
  blueman \
  libiodbc unixODBC-devel erlang-odbc \
  wxGTK wxGTK-devel wxGTK-gl wxGTK-media \
  cifs-utils \
  gmp-devel.x86_64 \
  brasero \
  wireguard-tools \
  go-task \
  age 

sudo getent group docker || sudo groupadd docker \
  && sudo getent group docker | grep -q "\b$USER\b" || sudo usermod -aG docker $USER

sudo systemctl enable docker.service
sudo systemctl enable containerd.service

chsh -s "$(which zsh)"

# zsh
mkdir -p ~/.zsh/antigen
sudo curl -L git.io/antigen > ~/.zsh/antigen/antigen.zsh

# fzf
[[ ! -f ~/.fzf.zsh ]] \
  && git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf \
  && ~/.fzf/install --key-bindings --completion --no-update-rc

# install asdf
if [ ! -d "{{ .chezmoi.homeDir }}/.asdf" ]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.9.0
fi

if [ ! -d {{ .chezmoi.homeDir }}/.ghcup ]; then 
  curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh
fi

# dragon for drag-and-drop, necessary for certain web UIs
if [ ! -f "$(which dragon)" ]; then
  git clone https://github.com/mwh/dragon.git {{ .chezmoi.homeDir }}/Downloads/dragon
  cd {{ .chezmoi.homeDir }}/Downloads/dragon && sudo make PREFIX=/usr/local/bin install
  cd {{ .chezmoi.homeDir }}
fi

if [ ! -f "$(which sops)" ]; then
  SOPS_VERSION=3.7.3
  sudo dnf install -y https://github.com/mozilla/sops/releases/download/v${SOPS_VERSION}/sops-${SOPS_VERSION}-1.x86_64.rpm
fi

# Extra shit to install
# renoise, reaper, pycharm, vscode, obs, gimp, obsidian, slack, zoom, signal, discord, google-drive, dropbox, intellij, balena-etcher

#framework specific
# set deep sleep
# disable the stupid backlight-modifier on the display

{{ end -}}
