#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}

sudo dnf install dnf-plugins-core -y
sudo dnf config-manager --add-repo https://brave-browser-rpm-release.s3.brave.com/x86_64/ \
  && sudo rpm --import https://brave-browser-rpm-release.s3.brave.com/brave-core.asc

sudo dnf config-manager \
    --add-repo \
    https://download.docker.com/linux/fedora/docker-ce.repo

sudo rpm --import https://downloads.1password.com/linux/keys/1password.asc
sudo sh -c 'echo -e "[1password]\nname=1Password Stable Channel\nbaseurl=https://downloads.1password.com/linux/rpm/stable/\$basearch\nenabled=1\ngpgcheck=1\nrepo_gpgcheck=1\ngpgkey=\"https://downloads.1password.com/linux/keys/1password.asc\"" \
  > /etc/yum.repos.d/1password.repo'

sudo dnf config-manager --set-enabled google-chrome

sudo dnf copr enable eddsalkield/swaylock-effects -y

sudo dnf install -y \
  util-linux-user \
  zsh \
  fzf \
  kitty \
  neofetch \
  openssl-devel bzip2-devel libffi-devel zlib-devel readline-devel sqlite\
  pulseaudio-utils \
  sway \
  wofi \
  mako \
  waybar \
  wlsunset \
  swayidle \
  swaylock-effects \
  light \
  wl-clipboard \
  maim \
  google-chrome-stable \
  brave-browser \
  docker-ce docker-ce-cli containerd.io \
  1password \
  kicad 
#  gimp  

sudo getent group docker || sudo groupadd docker \
  && sudo getent group docker | grep -q "\b$USER\b" || sudo usermod -aG docker $USER

#add a check-condition for this
chsh -s "$(which zsh)"

# zsh
mkdir -p ~/.zsh/antigen
sudo curl -L git.io/antigen > ~/.zsh/antigen/antigen.zsh

# install asdf
if [ ! -d "{{ .chezmoi.homeDir }}/.asdf" ]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.9.0
fi

if [ ! -d {{ .chezmoi.homeDir }}/.ghcup ]; then 
  curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh
fi

# Extra shit to install
# renoise, reaper, pycharm, vscode, obs, kicad, gimp, obsidian, 1pass, slack, zoom, signal, discord, google-drive, dropbox, intellij, balena-etcher

#framework specific
# set deep sleep
# disable the stupid backlight-modifier on the display

{{ end -}}
