{{ if (eq .chezmoi.os "darwin") }}
font_size 14.0
{{ else if (eq .chezmoi.os "linux") }}
font_size 11.0
{{ end }}

enabled_layouts tall, fat
window_margin_width 5
background_opacity 0.90

# BEGIN_KITTY_THEME
# Tokyo Night
include current-theme.conf
# END_KITTY_THEME
